// out: C:\\shined\1yanbuhe\view\v1\style\index.css, sourcemap: false, compress: true;

@import (less) "usually.less";
@import (reference) "overall.less";

@NavigatorHeight: 80px;
@BodyWidth: 1000px;

.current1 {
  background-color: #7A67EE;
}

#nav {
  width: 100%;
  height: @NavigatorHeight;
  background-color: #8470FF;
  border-bottom: 4px solid #FFD52B;
}

.cnt {
  width: @BodyWidth;
  margin: auto;
}

.cnt-hgt {
  height: @NavigatorHeight;
}

.nav-pd {
  width: 100%;
  height: @NavigatorHeight;
}

.logo {
  width: 150px;
  height: 100%;
  float: left;
}

.nlist {
  float: left;
  li {
    float: left;
    margin-left: 10px;
    font-size: 1.25rem;;
    font-weight: 300;
    a {
      display: block;
      padding: 0px 15px;
      line-height: @NavigatorHeight;
      color: #fff;
    }
    &:hover {
      background-color: #7A67EE;
    }
  }
}


/*
Body
*/
#bd {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 20px;
}

.bd-in {
  width: @BodyWidth;
  margin: auto;
  background-color: transparent;
  &::after {
    .wipeFloat;
  }
}


// 左边段子和右边推荐框架
#cnt-fun {
  width: @BodyWidth - 350px;
  height: 500px;
  float: left;
}

#cnt-sideBar {
  float: right;
  width: @BodyWidth - 20px - (@BodyWidth - 350px);
  height: 500px;
  .white;
}


// 段子
.cnt-episode {
  padding: 10px 20px;
  .white;
}

.cnt-epe-inl {
  width: 100%;
}

.marBep {
  margin-bottom: 15px;
}


// 头部
.cnt-h-e {
  float: left;
}

.cnt-header {
  &::after {
    .wipeFloat;
  }
}

.lineH1 {
  line-height: 30px;
}

// 头像
.cnt-avatar {
  overflow: hidden;
  border-radius: 50%;
  max-width: 30px;
  max-width: 30px;
}

// 名字
.cnt-name {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.published {
  float: right;
  .pub-text {
    font-style: normal;
    font-size: 0.8rem;
    color: #7A8B8B;
  }
}


// 内容
.cnt-text {
  font-size: 1rem;
  line-height: 1.6rem;
}



.cnt-comments {
  border-top: 1px solid #E8E8E8;
  text-align: center;
  line-height: 50px;
}


// 图标点赞区域
.cnt-bottom {
  margin-bottom: 20px;
  &::after {
    .wipeFloat;
  }
}

.status {
  float: left;
}

// 分享
.shared {
  float: right;
}

// 评论
.cmt-area {
  width: 100%;
  height: 200px;
  background-color: red;
  display: none;
}

.more-cmt {
  font-style: normal;
  font-size: 0.9rem;
}

.cmtShow {
  &:hover {
    cursor: pointer;
  }
}


// $$$$$$$$$$$$$$$$$$$$$$$$$$$ 登录区域 ￥￥￥￥￥￥￥￥￥￥￥￥￥￥￥￥￥ //
#logarea {
    float: right;
    line-height: @NavigatorHeight;
}
.logbut {
  font-size: 1rem;
  margin-left: 5px;
  color: #fff;
  font-style: normal;
}
