// out: C:\\shined\1yanbuhe\view\v1\style\login.css, sourcemap: false, compress: true;

// 登录窗体样式表

.login-input-area {
  margin-bottom: 10px;
}

.loginArea {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  font-size: 18px;
}

.ipt-prefix-name {
  width: 80px;
}

.ipt-em {
  display: inline-block;
}

.ipt-win {
  width: 220px;
  padding: 5px;
}

.subBut {
  padding: 7px 40px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #4FCAF9;
  &:hover {
    cursor: pointer;
    background-color: #63B8FF;
  }
}


// 关闭按钮样式
.loginCloseX {
  &:hover {
    cursor: pointer;
    color: #104E8B;
  }
}
